{% extends 'base.html' %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Fund Savings Calculator</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Fund Savings Calculator</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h2 class="card-title">Fund Savings Calculator</h2>
                </div>
              </div>
              <div class="card-body">
                <div class="section">
                  <div class="container">
                    <form method="POST" action="/fund_savings">
                      {{ fundSavingsForm.hidden_tag() }}
                      <table class="table">
                        <tr>
                          <td>
                            <div class="form-group" style="margin-right: 120px;">
                            <label>Starting Equity</label>
                            {{ fundSavingsForm.startingEquity(size=20) }} 
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="form-group" style="margin-right: 120px;">
                            <label>Savings per month</label>
                            {{ fundSavingsForm.savingsPerMonth(size=20) }} 
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                          <div class="form-group" style="margin-right: 120px;">
                            <label>Interest Rate (in %)</label>
                            {{ fundSavingsForm.interestRatePercent(size=20) }}
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="form-group" style="margin-right: 120px;">
                          <label>Tax Rate(in %)</label>
                          {{ fundSavingsForm.taxRate(size=20) }} 
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="form-group" style="margin-right: 120px;">
                          <label>Cost of Fund(in %)</label>
                          {{ fundSavingsForm.costOfFund(size=20) }} 
                          </div>
                        </td>
                      </tr>

                        <tr>
                          <td>
                            <div class="form-group" style="margin-right: 120px;">
                              <label>Number of Years</label>
                              {{ fundSavingsForm.numYears(size=20) }}
                            </div>
                          </td>
                          
                        </tr>
                      </table>

                      <input type="submit" value="Submit">

                    </form>

                    {% if fundSavingsDict['startingEquity'] %}
                    <table class="table">
                      

                      <tr>
                        <td>
                            <label>YoY Interest Rate</label>
                        </td>
                        <td>
                          {{ (fundSavingsDict['interestRatePercent'])|string + '%'}}
                        </td>
                      </tr>

                    </table>

                        
                      <!DOCTYPE html>
                      <html lang="en">
                      <head>
                        <meta charset="utf-8" />
                        <title>{{ title }}</title>
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
                      </head>

                      <body>
                        <center>
                          <h1>{{ title }}</h1>

                          <canvas id="chart" width="600" height="400"></canvas>
                          <script>

                            // bar chart data
                            var barData = {
                              labels : [
                                {% for item in labels %}
                                  "{{ item|string }}",
                                {% endfor %}
                              ],

                              datasets : [{
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                bezierCurve : false,
                                data : [
                            {% for item in values %}
                                    {{ item }},
                                  {% endfor %}]
                                }
                        ]
                            }

                            Chart.defaults.global.animationSteps = 50;
                            Chart.defaults.global.tooltipYPadding = 16;
                            Chart.defaults.global.tooltipCornerRadius = 0;
                            Chart.defaults.global.tooltipTitleFontStyle = "normal";
                            Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
                            Chart.defaults.global.animationEasing = "easeOutBounce";
                            Chart.defaults.global.responsive = false;
                            Chart.defaults.global.scaleLineColor = "black";
                            Chart.defaults.global.scaleFontSize = 16;

                            // get bar chart canvas
                            var mychart = document.getElementById("chart").getContext("2d");

                            steps = 10
                            max = {{ max }}
                            min = {{ min }}
                            // draw bar chart
                            var LineChartDemo = new Chart(mychart).Line(barData, {
                              scaleOverride: true,
                              scaleSteps: steps,
                              scaleStepWidth: Math.ceil(max / steps),
                              scaleStartValue: min,
                              scaleShowVerticalLines: true,
                              scaleShowGridLines : true,
                              barShowStroke : true,
                              scaleShowLabels: true,
                              bezierCurve: false,
                            });
                            
                          </script>
                        </center>
                      </body>
                      </html>
                    
                    {% endif %}
                   
                  </div>
                </div>
               
              </div>
            </div>
           
          
          <!-- /.col-md-6 -->
          
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}

