{% extends 'base.html' %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Real Estate Value</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Real Estate Value</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h2 class="card-title">Real Estate Value Calculator</h2>
                </div>
              </div>
              <div class="card-body">
                <div class="section">
                  <div class="container">
                    <form method="POST" action="/real_estate_value">
                      {{ loanForm.hidden_tag() }}
                      <table class="table">
                        <tr>
                          <td>
                            <div class="form-group" style="margin-right: 120px;">
                            <label>Real Estate Value</label>
                            {{ loanForm.estateValue(size=20) }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="form-group" style="margin-right: 120px;">
                              <label>Interest Rate (in %)</label>
                              {{ loanForm.interestRate(size=20) }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-group" style="margin-right: 120px;">
                              <label>Number of Years</label>
                              {{ loanForm.numYears(size=20) }}
                            </div>
                          </td>
                        </tr>
                      </table>

                      <input type="submit" value="Submit">

                    </form>

                    {% if loanDict['necessaryEquity'] %}
                    <table class="table">
                      <tr>
                        <td>
                            <label>Necessary Equity</label>
                        </td>
                        <td>
                          {{ "{:,.0f} NOK".format(loanDict['necessaryEquity']) }}
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <label>Dokumentavgift</label>
                        </td>
                        <td>
                          {{ "{:,.0f} NOK".format(loanDict['dokumentAvgift']) }}
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <label>YoY Interest Rate</label>
                        </td>
                        <td>
                          {{ (loanDict['interestRate'])|string + '%'}}
                        </td>
                      </tr>

                    </table>

                        
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
                    
                    <h3>Return per Year</h3>
                    <div class="chart" id="bargraph">
                      <script>
                          var graphs = {{plot | safe}};
                          Plotly.plot('bargraph',graphs,{});
                      </script>
                  </div>
                    
                    {% endif %}
                   
                  </div>
                </div>
               
              </div>
            </div>
        </div>
       
           
          
          <!-- /.col-md-6 -->
          
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}

